<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:label="@string/title_activity_auth"
            android:theme="@style/Theme.MeetMapAlpha" />

        <meta-data
            android:name="com.yandex.maps.mobile.apikey"
            android:value="0c1f7f97-d840-46cd-b974-df658b94b039" />

    </application>

</manifest>